.page-container {
  background-image: url("imgs/Main.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
}

.holderCircle {
    width: 600px;
    height: 600px;
    border-radius: 100%;
    position: relative;
}


.dotCircle {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    z-index: 20;
}

    .dotCircle .itemDot {
        display: block;
        width: 120px;
        height: 120px;
        position: absolute;
        text-align: center;
        line-height: 80px;
        font-size: 30px;
        z-index: 3;
        cursor: pointer;
    }

    .dotCircle .itemDot {
        font-size: 40px;
    }

.contentCircle {
    width: 250px;
    border-radius: 100%;
    color: #222222;
    position: relative;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .contentCircle .CirItem {
        border-radius: 100%;
        color: #222222;
        position: absolute;
        text-align: center;
        bottom: 0;
        left: 0;
        opacity: 0;
        transform: scale(0);
        transition: 0.5s;
        font-size: 15px;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        margin: auto;
        line-height: 250px;
    }

.CirItem.active {
    z-index: 1;
    opacity: 1;
    transform: scale(1);
    transition: 0.5s;
}

.contentCircle .CirItem i {
    font-size: 180px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -90px;
    color: #000000;
    opacity: 0.1;
}

@media only screen and (min-width:300px) and (max-width:599px) {
    .holderCircle { /* width: 300px; height: 300px;*/
        margin: 110px auto;
    }

        .holderCircle::after {
            width: 100%;
            height: 100%;
        }

    .dotCircle {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}

@media only screen and (min-width:600px) and (max-width:767px) {
}

@media only screen and (min-width:768px) and (max-width:991px) {
}

@media only screen and (min-width:992px) and (max-width:1199px) {
}

@media only screen and (min-width:1200px) and (max-width:1499px) {
}

.title-box .title {
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    z-index: -1;
}

.title-box span {
    text-shadow: 0 10px 10px rgba(0, 0, 0, .15);
    font-weight: 800;
    color: #640178;
}

.title-box p {
    font-size: 17px;
    line-height: 2em;
}


/*.centered1 {
  position: absolute;
  top: 24%;
  left: 12%;
  transform: translate(-50%, -50%);
}

.centered2 {
  position: absolute;
  top: 24%;
  left: 31.5%rem;
  transform: translate(-50%, -50%);
}
.centered3 {
  position: absolute;
  top: 18%;
  left: 59%;
  transform: translate(-50%, -50%);
}
.centered4 {
  position: absolute;
  top: 21%;
  left: 79%;
  transform: translate(-50%, -50%);
}
.centered5 {
  position: absolute;
  top: 45%;
  left: 12%;
  transform: translate(-50%, -50%);
}
.centered6 {
  position: absolute;
  top: 45%;
  left: 87%;
  transform: translate(-50%, -50%);
}
.centered7 {
  position: absolute;
  top: 86%;
  left: 18%;
  transform: translate(-50%, -50%);
}
.centered8 {
  position: absolute;
  top: 86%;
  left: 46%;
  transform: translate(-50%, -50%);
}
.centered9 {
  position: absolute;
  top: 86%;
  left: 74%;
  transform: translate(-50%, -50%);
}*/
