@model Queue<project_3.Models.QueueResultViewModel>

@{ 
    Layout = null;
}
<div>


    @if (Model.Count > 0)
    {
        foreach (var item in Model.Reverse())
        {
            if (item.Result == "تمت الاضافه بنجاح")
            {
                <h5 style="text-align:center; background-color:lightgreen" class="col-md-5  rounded offset-3 p-2 text-dark">
                    @item.Serial @item.Result
                </h5>
            }
            else
            {
                <h5 style="text-align:center; background-color:lightcoral" class="col-md-5  rounded offset-3 p-2 text-danger">
                    @item.Serial @item.Result
                </h5>
            }

        }
    }
</div>