@model project_3.Models.QueueResultViewModel
@{
    Layout = null;
}


<h3>
    @Model.Serial  @Model.Result
</h3>



@*@if (TempData["Msg"] != null)
{

    <div id="msg" style="text-align:center; background-color:lightcoral" class="col-md-5  rounded offset-3 p-2 text-danger">
        <div class="col-md-3">

        </div>
        <h3>
            @TempData["Msg"]
        </h3>
    </div>
}*@