<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://makaserver.local</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>makaserver.local</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="project_3.Models.Entities, project 3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="project_3.Models.ApplicationDbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="project_3.Models.ApplicationDbContext, project 3" MigrationConfiguration="project_3.Migrations.Configuration, project 3" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Con" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5097.site4now.net;Initial Catalog=DB_A6A5AC_teamiegypt;User ID=DB_A6A5AC_teamiegypt_admin;Password=ak654321" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Con_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5097.site4now.net;initial catalog=DB_A6A5AC_teamiegypt;user id=DB_A6A5AC_teamiegypt_admin;password=ak654321;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Con-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)project_3.Models.ApplicationDbContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="project_3.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>