@model project_3.Models.CSVModel

<div class="page-container">


    <div class="d-flex flex-row-reverse mb-5 mt-2 mr-2">
        <h1 class="text-light">
            Generate excel sheet
        </h1>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="d-flex flex-row-reverse  mb-2">
            <div class="d-flex col-md-5">
                @Html.DropDownListFor(m => m.ProductId, ViewBag.ProductId as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "col-md-9 form-control" })

                <span class="col-md-3 text-light">
                    المنتج
                </span>
            </div>

            <div class="col-md-4"></div>
        </div>
        <div class="d-flex flex-row-reverse mb-2">
            <div class="d-flex col-md-5">

                <input required type="number" max="500000" min="1" class="col-md-9 form-control" name="Number" id="Number" />

                <span class="col-md-3 text-light">
                    العدد
                </span>
            </div>

            <div class="col-md-4"></div>
        </div>
        <div class="d-flex flex-row-reverse ">
            <div class="col-md-1">
            </div>
            <div class=" col-md-2">
                <button type="submit" class="col-md-11 text-light btn-success btn form-control">
                    <span><i class="fas fa-user-plus fa-lg"></i></span>
                    &nbsp;&nbsp;&nbsp;
                    Generate
                </button>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("Index","Home")" class="col-md-11 text-light btn-primary btn form-control">
                    <i class="fas fa-undo"></i>
                    &nbsp;&nbsp;&nbsp;
                    رجوع للرئيسيه
                </a>
            </div>
        </div>
    }


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
